<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
<html>

  {% include head.html %}

  <body>

    <div class="landing-section">
      <h1 class="centered">woo.m</h1>
      <h5>ABOUT</h5>
    </div>

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
